{
  // 运行环境
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  // 该依赖包允许你使用一些实验特性的时候，依然能够用上 Eslint 语法检查。
  "parser": "babel-eslint",
  // 使用 airbnb, prettier 配置
  "extends": [
    "airbnb",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "settings": {
    // 用于解决 import 路径检测报错的问题
    "import/resolver": [
      // 用于解析内置模块 path, fs
      "node",
      {
        // 用于解析 alias 别名 @ 的路径
        "webpack": {
          "config": "./webpack/webpack.dev.js"
        }
      }
    ]
  },
  "rules": {
    // 被 prettier 标记的地方抛出错误信息。
    "prettier/prettier": "error",
    // 允许 js 文件中书写 jsx 语法
    "react/jsx-filename-extension": 0,
    // 关闭 return 多行必须要加括号的检测
    "react/jsx-wrap-multilines": 0,
    // 关闭 prop-types 检测
    "react/prop-types": 0,
    // 关闭 prop-types 类型的检测
    "react/forbid-prop-types": 0,
    // 关闭 react props 结构解析的检测
    "react/destructuring-assignment": 0,
    // 关闭 jsx 变量必须换行的检测
    "react/jsx-one-expression-per-line": 0,
    // 关闭 jsx 展开符检测
    "react/jsx-props-no-spreading": 0,
    // 关闭 onClick 事件之后必须跟着 onKeyUp，onKeyDown，onKeyPress 的检测
    "jsx-a11y/click-events-have-key-events": 0,
    // 关闭 onClick 事件只能在特定 element（如 button） 上的检测
    "jsx-a11y/no-static-element-interactions": 0,
    // 关闭 onClick 事件只能在特定 element（如 button） 上的检测
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    // 关闭 a 标签的 href 检测
    "jsx-a11y/anchor-is-valid": 0,
    // 关闭 Object.assign({}, obj1, obj2) 的检测
    "prefer-object-spread": 0,
    // 关闭对行尾 LF(\n Linux) or CRLF(\r\n window) 的检测
    "linebreak-style": 0,
    // 关闭 console 的检测
    "no-console": 0,
    // 关闭对函数体内未使用 this，那么该函数必须切换到静态方法（static）的检测
    "class-methods-use-this": 0,
    // 关闭对 function 参数进行重新赋值的检测
    "no-param-reassign": 0,
    // 关闭一定要 return 的检测
    "consistent-return": 0,
    // 关闭一定要 export default
    "import/prefer-default-export": 0
  }
}